<div id="profile-page-container">
    <div class="uk-grid-match" uk-grid>
        <div class="uk-text-center">
            <div class="uk-width-auto">
                <div class="uk-card uk-card-default uk-width-1-1@m uk-card-body profile-card">
                    <h5>Hello {{user.fullName}}! <span id="username" class="uk-text-emphasis uk-text-capitalize">
                            {{this.userName}}</span>
                        <span id="editProfileDetails" style="margin-left:1.25em" uk-icon="icon: pencil"></span></h5>
                    <p class="uk-text-left">Github: <a href="{{user.github}}">{{user.github}}</p></a>
                    <p class="uk-text-left">LinkedIn: <a href="{{user.linkedin}}">{{user.linkedin}}</p></a>
                    <p class="uk-text-left">{{user.profileStatement}}</p>
                </div>
            </div>
        </div>


    <div class="uk-width-expand">
        <div class="uk-card uk-card-default uk-card-body">Your Recommended Matches</div>
        <ul>
            {{#each matches}}
                <li>{{this.fullName}}</li>
            {{/each}}
        </ul>
    </div>
  

    </div>

    <div uk-grid>
        <div class="uk-card uk-card-default uk-card-body profile-card">Personal Connections</div>
    </div>

</div>