<div id="profile-page-container">
    <div class="profile-card" id="user-bio">
        <div class="profile-title">
            <h3>Hello {{user.fullName}}!</h3>
        </div>
        <div class="profile-content">
            <p class="uk-text-left">Github: <a href="{{user.github}}">{{user.github}}</p></a>
            <p class="uk-text-left">LinkedIn: <a href="{{user.linkedin}}">{{user.linkedin}}</p></a>
            <p class="uk-text-left">{{user.profileStatement}}</p>
            <p class="uk-text-left">Getting user skills from db</p>
        </div>
    </div>

    <div class="profile-card" id="user-connections">
        <div class="profile-title">
            <h3>Personal Connections</h3>
        </div>
    </div>

    <div class="profile-card" id="user-matches">
        <div class="profile-title">
            <h3>Recommended Matches</h3>
        </div>
        <div class="profile-content">
            {{#each matches}}
            <p class="uk-text-left">{{this.fullName}}</p>
            {{/each}}
        </div>
    </div>
</div>